# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "1948841770:AAGX5_t7-q0uodiq_U3XwI2qV7d80LFDASA"
APP_ID = 3495663
API_HASH = "bd2c2a8c9fa3169038cdf3c9c8215f19"
OWNER_ID = 1874954413

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = -1001585071628


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech-Gdrive"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
